
<h1>利用github 搭建自己的博客<h1>
<hr>

<p>
&amp;nbsp; 一步一步搭建：<a href=http://hypatia2012.github.com  >我的博客http://hypatia2012.github.com </a>
<br>
第一步创建github帐号<br>
网站：https://github.com/<br>
PS:假设你的用户名称是"usrname",而我的用户名称是"hypatia2012"<br>
第二步创建一个仓库<br>
使用您的账号登录以后；跳转到https://github.com主页，如图：<br>
<img src = "imgs/bulid_blog/github_mian_websate.png" height="300" width="600"></img>
点击New repository 按钮<br>
<img src = "imgs/bulid_blog/github_create_repository_websate.png" height="300" width="600"></img>
点击创建。<br>
PS：仓库第一个名称与用户名称相同。<br>
第三步：下载该资源库。到本地。<br>
git clone https://github.com/hypatia2015/hypatia2015.github.com<br>

Cloning into 'hypatia2015.github.com'...<br>
remote: Counting objects: 3, done.<br>
remote: Total 3 (delta 0), reused 0 (delta 0)<br>
Unpacking objects: 100% (3/3), done.<br>
Checking connectivity... done.<br>
第四步：写一个测试index.html文件；内容如下 <br>

------
谢谢阅读！
------

</p>
